@font-face {
    font-family: cursedtimer;
    src: url(Fonts/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(30, 36, 79);
    display: flex;
    flex-direction: column;
}

#hero {
    /* border: 10px solid; */
    margin: 0 auto;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.score-display {
    background-color: black;
    color: rgb(153, 67, 67);
    font-family: cursedtimer;
    text-align: center;
    padding: 1px;
    font-size: larger;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

button {
    font-family: cursedtimer;
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.home {
    margin: 0px 50px;
}

.guest {
    margin: 0px 50px;
}


.heading {
    margin-bottom: 5px;
}

#new-game {
    margin: 10px auto;
}

.black {
    background: black;
}